<h2
    local-class='PageHeading'
    data-test-page-heading
    id={{@schemaBlock.elementId}}
    ...attributes
>
    {{@schemaBlock.displayText}}
</h2>
{{#if this.isEditableForm}}
    <p local-class='PageHeading_helper'>{{this.schemaBlock.helpText}}</p>
{{/if}}
