<h2
    local-class='PageHeading'
    data-test-page-heading
    id={{@schemaBlock.elementId}}
    ...attributes
>
    {{this.localizedDisplayText}}
</h2>
{{#if this.isEditableForm}}
    <p local-class='PageHeading_helper'>{{this.localizedHelpText}}</p>
{{/if}}
