<h3 local-class='SectionHeading'
    data-test-section-heading
    id={{@schemaBlock.elementId}}
    ...attributes
>
    {{this.localizedDisplayText}}
    <span>
        {{#if this.isEditableForm}}
            <Registries::SchemaBlockRenderer::HelperTextIcon @helpText={{this.localizedHelpText}} />
        {{/if}}
    </span>
</h3>