.basic_image_entry {
    margin: 0.5em;
}

.postscript_view {
    display: flex;
}

.postscript_button {
    margin-left: 1em;
}

.postscript_view button {
    margin-left: auto;
}

.environment_setting_error {
    font-weight: bold;
    color: #f00;
}
