@media screen and (max-width: 768px) {
    .Integromat {
        margin: 0;
        padding: 0;
    }
}

.Integromat__header {
    background: #ecf0f1;
    margin-top: 40px;
}

.Integromat__sidebar {
    width: 25%;
    float: left;
    height: 575px;
    border-right-style: inset;
}

.Integromat__menu {
    list-style: none;
}

.Integromat__workflows {
    width: 75%;
    float: right;
    height: 575px;
}

.Integromat__web_meeting_table {
    margin-top: 65px;
}

.Integromat__microsoftTeamsMeetings {
    margin-top: 30px;
    height: 575px;
}

.Integromat__web_meeting_navbar {
    background: #efefef;
    margin-top: 30px;
    height: 40px;
}

.Integromat__cell_right {
    background: #fff;
    border-right-style: hidden;
    width: 10%;
}

.Integromat__input_items {
    padding: 5px;
}

.Integromat__buttons {
    border: 1px solid #ddd;
}

