@media screen and (max-width: 768px) {
    .BinderHub {
        margin: 0;
        padding: 0;
    }
}

.host_information {
    display: flex;
    padding: 20px 0 0;
}

.host_selector {
    margin-right: auto;
}

.host_user {
    display: flex;
    margin-left: auto;
}

.BinderHub__header {
    margin-bottom: 0.5em;
}

.BinderHub__buttons {
    margin-top: 1em;
    margin-bottom: 2em;
}

.BinderHub__section {
    margin: 0;
}

.BinderHub__panel {
    margin: 1em;
}

.BinderHub__connection_alert {
    display: flex;
    align-items: center;
}

.BinderHub__connection_alert button {
    margin-left: auto;
}
